#cal-body {
    background-color: grey;
    border-radius: 15px;
    margin: 10rem;
}

#display {
    font-size: 2rem;
    padding: 2px;
    background-color: blue;
    border-radius: 15px;
}

#input-numbers {
    
}